@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);




/* kou */


.main_content{
  margin-top:60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
/* カテゴリ */
.kategori {
  text-align: center;
  list-style: none;
}
.kategori a{
  color:#000;
  text-decoration: none;
}
.kategori a:hover{
  border-bottom: solid 2px #e60033;
}
/* tabページ */
/* recommend */
.week_mon{
  width:40%;
  margin:30px auto;
}
.week_mon a{
  width:50%;
  color:#000;
  margin: 0;
  text-align: center;
  padding:10px;
  display: inline-block;
  border:solid 1px #e60033;
  text-decoration: none;
}
.week_mon a:hover{
  background-color: #e60033;
  color: #fff;
}
.month{
  float:right;
}
/* ホーム写真 */
.home_img img{
  width: 100%;
  margin-bottom: 10px;
}
.home_img a:hover{
  opacity: 0.8;
}
/* ニュース　メイン写真 */
.news_title{
  background-color: rgba(230, 0, 51, 0.6);
  color:#fff;
  width:70%;
  margin:auto;
  text-align: center;
  position: absolute;
  top:60%;
  left:15%;
}

.author_big{
  left:15%;
  position: absolute;
  top:80%;
  color: #fff;
}
.date_big{
  right: 15%;
  position: absolute;
  top:80%;
  color: #fff;
}
.date_sub , .author_sub{
  color:#585e60;
  display: inline-block;
}
.date_sub{
  float: right;
}

/* 記事 */
/* .circle{
  width:50px;
  height: 50px;
  border:solid 1px #585e60;
  border-radius: 50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  position: absolute;
  bottom: -25px;
  z-index: 999;
} */
.article_header h5,.article_header h2,.article p,.related_article_title h2{
  color:#585e60;
}
.article_header .date{
  display: block;
}
.fa-user{
  float: left;
}
.fa-heart{
  float: right;
}
.article{
  margin-top:14px;
}
.article p{
  font-size:18px;
  padding: 5px;
  background-color: #dedfe0;
}
.related_article_title{
  border-bottom:solid 1px #dedfe0;
}
.related_article{
  margin-top: 10px
}
.related_article_title_small,.related_article img{
  width: 50%;
}
.related_article img{
  float:left;
}
.related_article_title_small{
  width: 40%;
  float:right;
}
.related_article_title_small h2{
  text-align: center;
}

.related_article_title_small i{
  float: right;
}
.related_article_title_small .news_title_sub{
  padding:50px 0;
}

/* 祭り詳細 */
.souvenir_img img{
  width: 24%;
}
.comment_content{
  margin-top: 1%;
}
.comment_user{
  width:15%;
  margin-bottom:  5%;
}
.comment_content h2{
  clear: both;
}
.tag a{
  color: #000;
  margin-right: 2%;
  text-decoration: none;
}


/*以下レスポンシブ対応（各自勝手に追加）*/

/*450px以下*/
@media(max-width:450px)
{
  .kategori li,.week_mon a{
    font-size: 10px;
  }
  .news_title,.news_title_sub{
    font-size:10px;
  }
  .author_big,.author_sub,.date_big,.date_sub,{
    font-size:8px;
  }
  .author_big,.date_big{
    top:70%;
  }
  .article_header h2,.related_article_title h2{
    font-size: 16px;
  }
  .date,i{
    font-size: 10px;
  }
  .article p{
    font-size: 12px;
  }
  .related_article_title_small .news_title_sub{
    padding:1px 0;
    font-size: 10px;
  }
  .souvenir_img img{
    width: 23%;
  }
  .comment_user{
    width:15%;
  }
}

/*649px以下*/
@media(max-width:649px)
{
  .related_article_title_small .news_title_sub{
    padding:10px 0;
    font-size: 10px;
  }
}

/*767px以下*/
@media(min-width:767px)
{
  .article_header h2,.related_article_title h2{
    font-size: 30px;
  }
  .related_article h2{
    font-size: 14px;
  }
  .related_article h4{
    font-size: 10px;
  }
  .related_article_title_small .news_title_sub{
    padding:10px 0;
    font-size: 14px;
  }
}



/*1110以下*/
@media(min-width:1110px)
{
  .related_article_title_small .news_title_sub{
    padding:30px 0;
    font-size: 22px;
  }
}
