@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

html{ overflow-y: scroll;}
body{margin:0; font-family: 'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;}
/*保存禁止　スマホ*/
img{
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-touch-callout:none;
  -moz-user-select:none;
  touch-callout:none;
  user-select:none;
}
/*スマホタッチ時のハイライトカラーを削除*/
a {
 -webkit-tap-highlight-color:rgba(0,0,0,0);
}
/*box1～3をかこっている親ボックス*/
header{
  z-index: 990;
  width: 100%; background-color: #fff;
  height: 45px;
  border-bottom: solid 2px  #e60033;
  position: fixed; /* ヘッダーを固定(これが重要) */
   top: 0; /* 固定する位置 */
   left: 0; /* 固定する位置 */
   right: 0;  /* 固定する位置 */}
header:after{content: ""; display: block; clear: both; box-shadow    : 1px 1px 1px #666666;}

/*JAPAN祭りのロゴ画像をかこっているボックス*/
.box1{float: left; width: 50%; height: 45px;
  padding: 6px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

/*768px以上の時に表示させているヘッダーボタンのボックス*/
.box2{float: left; width: 40%; height: 45px; text-align: center;}
.box2 a{color:#e60033; text-decoration: none;}
.box2 :hover{color: #fff; background-color: #e60033;}
.box2:after{content: ""; display: block; clear: both;}
.box2-1{float: left; width: 33.333%; height: 45px;
  padding: 10px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;}
.box2-2{float: left; width: 33.333%; height: 45px;
  padding: 10px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;}
.box2-3{float: left; width: 33.333%; height: 45px;
  padding: 10px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;}

/*ヘッダーの検索画像をかこっているボックス*/
.boxse{
  display: none;
  float: left;
  width: 10%; height: 45px; text-align: left;
  padding: 9px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;}

/*box3*/
.box3{}
.box3:after{content: ""; display: block; clear: both;}

/*box3-1(ヘッダーのマイページへの遷移を表示させるボックス)*/
.box3-1{
    display: none;
    float: left;
    text-align: right;
    height: 45px;
    padding: 10px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;}

/*ヘッダーのスケジュール画像をかこっているボックス*/
.box3-2{
  float: left;
  width: 10%; height: 45px; text-align: right;
  padding: 9px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;}

.cp_cssslider {
width: 300px;
height: 200px;
overflow: hidden;
margin: 2em auto;
box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5);
}
.cp_slide_item {
width: 300px;
height: 200px;
float: left;
position: relative;
}
.cp_slidewrapper {
width: 500%;/* slideの枚数×100% */
position: relative;
left: 0;
animation: slider 20s infinite ease;/* スピード */
}
@-webkit-keyframes slider {
/* 100%を枚数で割った%に割り振る */
0% {
-webkit-transform: translateX(0);
transform: translateX(0);
}
20% {
-webkit-transform: translateX(-300px);
transform: translateX(-300px);
}
40% {
-webkit-transform: translateX(-600px);
transform: translateX(-600px);
}
60% {
-webkit-transform: translateX(-900px);
transform: translateX(-900px);
}
80% {
-webkit-transform: translateX(-1200px);
transform: translateX(-1200px);
}
100% {
-webkit-transform: translateX(0);
transform: translateX(0);
}
}
@keyframes slider {
/* 100%を枚数で割った%に割り振る */
0% {
-webkit-transform: translateX(0);
transform: translateX(0);
}
20% {
-webkit-transform: translateX(-300px);
transform: translateX(-300px);
}
40% {
-webkit-transform: translateX(-600px);
transform: translateX(-600px);
}
60% {
-webkit-transform: translateX(-900px);
transform: translateX(-900px);
}
80% {
-webkit-transform: translateX(-1200px);
transform: translateX(-1200px);
}
100% {
-webkit-transform: translateX(0);
transform: translateX(0);
}
}



/*Mypageのwrapper*/
.mypage{
    width: 100%; height: auto;
    margin: 0 auto;
    text-align: center;}
  /*以下、マイページ内のcss*/
.my_image{
    margin: 120px 0px 0px 0px;
    text-align: center;}
.user_name{margin-top: 20px; margin-bottom: 70px;}
.user_name2{margin-bottom: 0px;}
.fes_box{width: 100%; height: auto;}
.fes_box:after{content:""; display:block; clear:both;}
.btn-fes-box{float: left; width: 100%;　margin:0 auto;}
.fes_box a{border-radius: 20px;}
.btn-fes{
  width:300px; height: auto;
  color: #e60033;
  background: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size:30px;
  border-radius: 3px;
  text-align:center;
  border: #e60033;
  border: solid  #e60033;}
a.btn-fes:hover {
  background: #e60033;
  color: #fff;
text-decoration: none;}
a.btn-fes{
  padding: 0.5em 2em;
  margin: 10px auto;
  font-size:20px;
  display:inline-block;}
a.btn-orange:before {
  margin: -3px 0 0 10px;}

/*お気に入りページのwrapper*/
.fevpage{
  width: 100%; height: auto;
  margin: 0 auto;
  text-align: center;
  margin-top: 70px;}
/*祭りお気に入りでのcss*/
.fev-box{width:50%; height: 120px; margin: 0 auto;
  border: solid 3px #e60033; margin-bottom:20px;}
.fev_box:after{content:""; display:block; clear:both;}
/*お気に入りでの画像image*/
.fev-imagebox{float:left; width: 35%; height: 120px;}
.fev-image{width:auto; height:100%; display:block; text-align: left;
  padding: 5px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;}

  /*お気に入りページでの細かいcss*/
.fev-td-box{float: left; width: 65%; height: 100%;}
.fev-day{width: auto; height: 35%;text-align: left;line-height: 60px;}
.fev-title{width: auto; height: 65%;text-align: left;line-height: 60px;}
.fev-box p{margin: 0px;}
.fev-day p{font-size: 120%;}
.fev-title p{font-size: 200%;}
.fev-box a{text-decoration:none; color:#000;}
.fev-box a:hover{color:#888;}

/*記事お気に入りページでのcss*/
.fev-kizi-imagebox{float:left; width: 20%; height: 120px;}
.fev-kizi-box{float: left; width: 80%; height: 100%; text-align: center;}
.fev-kizi{
  padding: 10px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  height: 100px;
  display: flex;
  align-items: center;
  word-break : break-all;}

/*お気に入りタイトル*/
.fevpage-title{
  margin: 0 auto;
  width: 50%;
  height: auto;
  margin-bottom: 25px;}
.fevpage-title p{color: #e60033; font-weight:bold; font-size: 18px;}

/**/
.matsuri_title{margin-top: 0px;}
.date_box2{width: 100%; height: auto;}
.date_box2:after{content: ""; display: block; clear: both;}
.date2{width: 50%; float: left; text-align: left;}
.date{width: 50%; float: left; text-align: right;}

/*設定ページでのcss*/
h1{font-size: 25px;}
hr{width:400px;}
.set{
    width: 300px;
    height: auto;
    margin:0 auto;
    padding-top: 10px;}
.name{
    margin-top: 40px;
    width: 300px;
    height:50px;}
#name{
    margin-top: 40px;
    width: 300px;
    height:50px;
    display: none;
}
.userid{
    width: 300px;
    height:50px;
    margin-top: 40px;}
.mailaddress{
    width: 300px;
    height:50px;
    margin-top: 40px;}
.password{
    width: 300px;
    height: 50px;
    margin-top: 40px;}
.password-2{
    width: 300px;
    height:50px;
    margin-top: 30px;}
.kuni{
    width: 300px;
    height: 50px;
    margin-top: 30px;
    display: flex;}
.user_button{
    width: 300px;
    margin-top: 30px;
    display: flex;}
.setting{width: 300px; margin: 0 auto;   height: auto; margin-top: 25px;}
.setting a{color: #e60033; text-decoration: none;}
.setting a:hover{}
.setting-inner{width: 100%;}
.setting:after{content:""; display:block; clear:both;}
/*言語変更ログアウト*/
.inquiry_box{float: left; width: 46%;
  border: solid 2px #e60033;
  font-size: 12px;
  margin: 2%;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  padding: 1em;
  background: red;
  border-radius: 3px;
  background-color: #fff;}
.logout_box{float: left; width: 46%;
  border: solid 2px #e60033;
  font-size: 12px;
  margin: 2%;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  padding: 1em;
  background: red;
  border-radius: 3px;
  background-color: #fff;}

/**/
.company{width: 150px; margin: 0 auto; margin-top: 50px; margin-bottom: 100px;}
.company:after{content:""; display:block; clear:both;}
.company-1{width: 50%; height: auto; float: left;}
.company-2{width: 50%; height: auto; float: left;}
.company a{color: #e60033; font-size: 15px; border-bottom: 1px solid #e60033;}
.company a:hover{border-bottom: 0px;}
/*サインイン*/
.company2{width: 150px; margin: 0 auto; margin-top: 50px; margin-bottom: 100px;}
.company2:after{content:""; display:block; clear:both;}
.company2 a{color: #e60033; font-size: 15px;}
.company2 a:hover{border-bottom: 0px;}

/**/
.henkou{
  line-height: 20px;
  width: 150px;
  margin-right: 5px;
  margin-left: 80px;
  background: #e60033;
  padding: 1em;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border-style:none;
  border-radius: 3px;
  outline: none;
  border: solid #e60033 1px;
  transition    : .3s;
  box-shadow    : 1px 1px 1px #666666;}
.henkou:hover{
  background-color: #fff;
  border: solid 1px #e60033;
  color: #e60033;}

/*wrapper*/
#myTapContent{margin-bottom: 40px; height: auto;}

.main_content{
  width: 100%;
  height: auto;
  text-align: center;
  margin: 0 auto;
  margin-top:60px;
  margin-bottom: 50px;
  padding: 10px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;}
  /* カテゴリ */
.kategori {
  text-align: center;
  list-style: none;
  margin-bottom: 15px;}
.kategori a{
  text-decoration: none;
  color:#000;}
.kategori a:hover{
  color: #000;
  text-decoration: none;
  transition: 0.1s;
  border-bottom: solid 2px #e60033;}
.kategori li{padding: 0px;}
/* tabページ */
/* recommend */
/*上右左下*/
.week_mon{
  width:50%;
  margin:5px auto 20px;}
.week_mon a{
  width:44%;
  color:#555;
  margin: 0% 3% 0%;
  text-align: center;
  display: inline-block;
  border:solid 1px #e60033;
  text-decoration: none;
  box-shadow    : 1px 1px 1px #666666;
  border-radius: 20px;}
.week_mon a:hover{
  background-color: #e60033;
  color: #fff;
  text-decoration: none;
  transition    : 0.3s;}
.month2{width: auto; height: auto;
  float:right;}

/*季節のカテゴリ*/
/*上右左下*/
.week_mon2{width:100%; height: auto;
margin: 5px auto 15px;}
.week_mon2:after{content:""; display:block; clear:both;}
.week_mon2 a{
  width: 100px;
  display: inline-block;
  margin: 0 5px 0px;
  color: #000;
  text-decoration: none;
  border-radius: 20px;
  box-shadow:1px 1px 1px #666666;
  height: auto;
  border:solid 1px #e60033;}
.week_mon2 a:hover{
  background-color: #e60033;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  transition    : .3s;}

/*カンロ画面*/
/*上右左下*/
.week_mon3{width:100%; height: auto;
margin: 5px auto 15px;}
.week_mon3:after{content:""; display:block; clear:both;}
.week_mon3 a{
  width: 150px;
  display: inline-block;
  margin: 0 5px 0px;
  color: #000;
  text-decoration: none;
  border-radius: 20px;
  box-shadow:1px 1px 1px #666666;
  height: auto;
  border:solid 1px #e60033;}
.week_mon3 a:hover{
  background-color: #e60033;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  transition    : .3s;}

/* ホーム写真 */
.home_img{width: auto; margin-bottom: 10px; text-align: center;}
.home_img img{border:solid 2px #e60033; width: 50%;}
.home_img2{width: auto; margin-bottom: 10px; text-align: center;}
.home_img2 img{width: 100%; height: auto;}
.home_img a:hover{opacity: 0.8;}
.fev_button_box{width: 60px; height: auto; position: fixed; bottom:6%; right: 20%; z-index: 980;
-webkit-appearance: none;}
.a-style{text-decoration: none;}
/**/
.fev_button{width: 60px; height: 55px; background-color: #fff; border-radius: 50%;
box-shadow:3px 3px 3px 3px  #ccc; text-align: center; margin: 0px; font-size: 40px;
color: #e60033; opacity: 0.8;
-webkit-appearance: none;}
.fev_button:hover{opacity: 0.4;}
/**/
.fev_button2{width: 60px; height: 55px; background-color: #fff; border-radius: 50%;
box-shadow:3px 3px 3px 3px  #ccc; text-align: center; margin: 0px; font-size: 40px;
color: #e60033; opacity: 0.8; margin-top: 10px;
-webkit-appearance: none;}
.fev_button2:hover{opacity: 0.4;}
/**/
.fev_button_box img{margin-bottom: 5px;}

/**/
.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex > *{
  position: relative;
  flex-basis: 33.33333%;
  margin-bottom: 20px;
}
.flex,
.flex > *{
  padding: 0px 10px 10px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

/*変更*/
.schedule_info_day{}
.news_info_event{width:100%; height: auto;}
.news_info_event:after{content: ""; display: block; clear: both;}
.news_info_event_box{
  position: relative;
  float: left;
  width : -webkit-calc(100% / 3);
  width : calc(100% / 3);
  padding: 0px 10px 10px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  margin-bottom: 20px;}
/*ＴＯＰでのお気に入りボタン*/
.fev_button-top{
position: absolute;bottom: 85px; right: 15px;
width: 30px; height: auto; background-color: #fff; border-radius: 50%;
font-size: 20px; display: table; box-shadow:1px 1px 1px 1px  #ccc;
color: #e60033; padding-top: 2px; opacity: 1;}
.fev_button-top:hover{background-color: #e60033; color: #fff; cursor:pointer;}
.fev_button-top p{
  display: table-cell;
  vertical-align: middle;}
.news_box{width:100%; height: auto;
  box-shadow:3px 3px 3px 3px  #ccc;}
.news_box:after{content: ""; display: block; clear: both;}
.news_box1{width: 100%; height: auto; float: left;}
.news_box1-1{width: 100%; height: auto; float: left;}
.news_box1-1 img{max-height: 165px; min-height: 165px;}
.news_box2{width: 100%; height: auto; float: left;}
/*季節*/
.sebox{width: 100%; height: auto; margin-bottom: 35px;}
.sebox:after{content: ""; display: block; clear: both;}
.sebox1{float:left; width: 25%; height: 30px;
  padding: 5px 10px 10px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;}
.sebox1-A{width: 100%; height: 50px;
  padding: 10px;
  border: solid 1px #e60033;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;}
.sebox2{float:left; width: 25%; height: 30px;
  padding: 5px 10px 10px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;}
.sebox2-A{width: 100%; height: 50px;
  padding: 10px;
  border: solid 1px #e60033;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;}
.sebox3{float:left; width: 25%; height: 30px;
  padding: 5px 10px 10px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;}
.sebox3-A{width: 100%; height: 50px;
  padding: 10px;
  border: solid 1px #e60033;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;}
.sebox4{float:left; width: 25%; height: 30px;
  padding: 5px 10px 10px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;}
.sebox4-A{width: 100%; height: 50px;
  padding: 10px;
  border: solid 1px #e60033;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;}

/* ニュース　メイン写真 */
.news_title{
  height: auto;
  margin: 0 auto;
  width: 80%; /* 要素の横幅を指定 */
  white-space: nowrap; /* 横幅のMAXに達しても改行しない */
  overflow: hidden; /* ハミ出した部分を隠す */
  text-overflow: ellipsis; /* 「…」と省略 */
  -webkit-text-overflow: ellipsis; /* Safari */
  -o-text-overflow: ellipsis; /* Opera */
  font-weight: bold;
  color:#e60033;
  padding: 10px 10px 0px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  height: auto;
  font-size: 20px;}
/**/
.demo {
height: auto;
margin: 0 auto;
width: 80%; /* 要素の横幅を指定 */
white-space: nowrap; /* 横幅のMAXに達しても改行しない */
overflow: hidden; /* ハミ出した部分を隠す */
text-overflow: ellipsis; /* 「…」と省略 */
-webkit-text-overflow: ellipsis; /* Safari */
-o-text-overflow: ellipsis; /* Opera */
}
/**/
.date_box{
width: 100%; height: auto;
margin-top: 2px;
margin-bottom: 5px;}
.date_box:after{content: ""; display: block; clear: both;}
.date_big2{
  padding-left: 10px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  text-align: left;
  color: #000;
  height: 10px;
  width: 50%;
  float: left;
}
.date_big{
  padding-right: 10px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  text-align: right;
  color: #000;
  height: 10px;
  width: 50%;
  float: left;
}

.article_header h5,.article_header h2,.article p,.related_article_title h2{
  color:#585e60;}
.article_header .date{
  display: block;}
.fa-user{
  float: left;}
.fa-heart{
  float: right;}
.article{
  margin-top:14px;
  margin-bottom: 28px;}
.article p{
  font-size:18px;
  padding: 10px;
  background-color: #eee;}
.related_article_title h2{
  padding-bottom: 5px;
  border-bottom:left 3px #e60033;
  border-bottom:solid 3px #e60033;
  text-align: left;}
.related_article{
  margin-top: 10px}
.related_article_title_small,.related_article img{
  width: 50%;}
.related_article_title{
  margin-top: 20px;}
.related_article_title_tag{
  margin-top: 10px; margin-bottom: 50px;}
.related_article img{
  float:left;}
.related_article_title_small{
  width: 40%;
  float:right;}
.related_article_title_small h2{
  text-align: center;}
.related_article_title_small i{
  float: right;}
.related_article_title_small .news_title_sub{
  padding:50px 0;}

/* 祭り詳細 */
.souvenir_img_box{width:100%; height:auto; margin-top: 20px;}
.souvenir_img_box:after{content: ""; display: block; clear: both;}
.souvenir_img_box2{
  width:100px; height: auto;
  float: left; width: 25%;
  padding: 0px 10px 10px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  margin-bottom: 10px;}
.souvenir_img_box2 a:hover{opacity: 0.5;}
.souvenir_img_box3{width:100%; height: auto;
  box-shadow : 3px 3px 3px 3px  #ccc;}
.souvenir_img_box3:after{content: ""; display: block; clear: both;}
.souvenir_img_boxA{width: 100%; height: 100px; float: left;}
.souvenir_img_boxB{width: 100%; height: auto;; float: left; border-top: solid 1px #eee;}
.souvenir_title{color: #e60033; text-align: center; font-size: 20px; font-weight: bold;}
.souvenir_img_box2 img{width: auto; height:100%;}

/*コメント*/
.comment_content{width: 100%; height: auto; margin-top: 20px; box-shadow : 1px 1px 1px 1px  #ccc;}
.comment_content2{width: 100%; height: auto; margin-top: 20px;}
.comment_content:after{content: ""; display: block; clear: both;}
.comment_content2:after{content: ""; display: block; clear: both;}
.comment_user_img{float: left; width: 5%; height: auto;}
.comment_user_img img{width: 50px; height: auto;}
.comment_hosi{display: table; float: left; width: 10%; height: 50px;
  padding: 10px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;}
.comment_hosi p{
  text-align: left;
  display: table-cell;
  vertical-align: middle;}
.comment_user_name{float: left; width: 15%; height: 50px;
  padding: 10px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;}
.comment_user_name p{font-size: 20px; text-align: left; margin: 0px;}
.comment{display: table; float: left; width: 60%; height: 50px; text-align: left;
  padding: 10px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;}
.comment p{font-size: 15px; text-align: left; margin: 0px;
  display: table-cell;
  vertical-align: middle;}
.tag a{color: #fff; margin-right: 2%; text-decoration: none;}
.comment_submit_box{}
.comment_content2 ul{
  list-style: none; padding: 0px;}
.comment_content2 li{
  cursor : pointer;
  display: inline;}
.user_hosi{
  width: 80%; height: auto; border:solid 2px #ccc; margin: 0 auto; border-bottom: 0px;
  color: #FFCC66; font-size: 30px;
  padding: 10px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;}
.user_hosi:after{content: ""; display: block; clear: both;}
/*星評価*/
.evaluation{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;}
.evaluation input[type='radio']{
  display: none;}
.evaluation label{
  position: relative;
  padding: 10px 10px 0;
  color: gray;
  cursor: pointer;
  font-size: 30px;}
.evaluation label .text{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 8px;
  color: gray;}
.evaluation label:hover,
.evaluation label:hover ~ label,
.evaluation input[type='radio']:checked ~ label{
  color: #ffcc00;}
/*星評価終わり*/
.comment_area{width: 80%; text-align: center; border:solid 2px #ccc; height: 200px;}
.comment_button{
  margin-top: 10px;
  line-height: 10px;
  width: 100px;
  background: #e60033;
  padding: 1em;
  text-decoration: none;
  color: #fff;
  border-style:none;
  border-radius: 30px;
  border: solid 1px #e60033;
  outline: none;
  transition    : .3s;
  box-shadow    : 1px 1px 1px #666666;}
.comment_button:hover{
  background-color: #fff;
  border: solid 1px #e60033;
  color: #e60033;}

/*検索のwrapper*/
.box4{width: 100%; height: auto; text-align: center;
  padding: 10px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;}
.box4box4-inner{margin-bottom: 100px;}
.box4 a{color: #ffff;}

/*タブ切り替えTOP*/
input[type="radio"]{display:none;}
.tab_area{width: auto; height: auto;}
.tab_area label{display:inline-block;
  text-align:center; margin: 0px; width: 100%; height: 100%;
  cursor:pointer; padding: 10px; z-index: 999; transition: 0/5s;}
.panel_area{transition: 1s;}
.tab_panel{display:none;}
/*タブ詳細*/
#tab1:checked ~ .tab_area .tab1_label{color: #fff; background-color: #e60033; border-radius: 18.5px;}
#tab1:checked ~ .panel_area #panel1{display:block; transition: 1s;}
#tab2:checked ~ .tab_area .tab2_label{color: #fff; background-color: #e60033; border-radius: 18.5px;}
#tab2:checked ~ .panel_area #panel2{display:block; transition: 1s;}

/*タブ切り替えKISETU*/
input[type="radio"]{display:none;}
.tab_area2{width: auto; height: auto;}
.tab_area2 label{display:inline-block;
  text-align:center; margin: 0px; width: 100%; height: 100%;
  cursor:pointer; padding: 10px; z-index: 999; transition: 0/5s;}
.panel_area2{transition: 1s;}
.tab_panel2{display:none;}
/*タブ詳細*/
#tabA:checked ~ .tab_area2 .tabA_label{color: #fff; background-color: #e60033; border-radius: 20px;}
#tabA:checked ~ .panel_area2 #panelA{display:block; transition: 1s;}
#tabB:checked ~ .tab_area2 .tabB_label{color: #fff; background-color: #e60033; border-radius: 20px;}
#tabB:checked ~ .panel_area2 #panelB{display:block; transition: 1s;}
#tabC:checked ~ .tab_area2 .tabC_label{color: #fff; background-color: #e60033; border-radius: 20px;}
#tabC:checked ~ .panel_area2 #panelC{display:block; transition: 1s;}
#tabD:checked ~ .tab_area2 .tabD_label{color: #fff; background-color: #e60033; border-radius: 20px;}
#tabD:checked ~ .panel_area2 #panelD{display:block; transition: 1s;}


/* スタイルの状態変化を「my-fade-in」という名前で定義 */
@keyframes my-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tab_panel{
  /* .boxが「my-fade-in」で状態変化するように指定 */
  animation-name:     my-fade-in;
  animation-duration: 1s;}
.tab_panel2{
  /* .boxが「my-fade-in」で状態変化するように指定 */
  animation-name:     my-fade-in;
  animation-duration: 1s;}

/*login*/
.user{
  width: 300px;
  height: auto;
  margin:0 auto;
  padding-top: 100px;}
.adduser{
  width: 300px;
  height: auto;
  margin:0 auto;
  padding-top: 100px;}
/**/
.config_box{width: 100%; height: auto; margin-top: 20px; position: relative;}
.config_box:after{content: ""; display: block; clear: both;}
.config_box_name{width: 100%; float: left;}
.config_box_name p{margin: 0 auto; line-height: 2.7em;}
.config_box_hensyu{position: absolute; right:0px;}
.config_box_hensyu img{width:30px; height: auto;}
.config_box_hensyu a:hover{opacity: 0.5;}
.config_box_hensyu a:active{}
.hidden{display: none;}
/**/
.name{
  width: 300px;
  height:50px;
  margin-top: 30px;}
#name{
  width: 300px;
  height:50px;
  margin-top: 30px;
  display: none;}
.mailaddress{
  width: 300px;
  height:50px;
  margin-top: 30px;}
#mailaddress{
  width: 300px;
  height:50px;
  margin-top: 30px;
  display: none;}
.password{
    width: 300px;
    height: 50px;
    margin-top: 30px;}
#password{
    display: none;
    width: 300px;
    height: 50px;
    margin-top: 30px;}
.password-2{
    display: none;
    width: 300px;
    height: 50px;
    margin-top: 30px;}
#password-2{
    display: none;
    width: 300px;
    height: 50px;
    margin-top: 30px;}

/*fes.phpのカレンダーモーダルcss*/
#Modal_Content p{color:#e60033; font-size: 20px; font-weight: bold; margin: 0px;}
#event{width: 300px; height: 50px; margin-top: 10px; border-radius: 5px; border: solid 2px #eee;}
#place{width: 300px; height: 30px; margin-top: 10px; border-radius: 5px; border: solid 2px #eee;}
.suke-box{width: 100%; height: auto; margin-top: 10px;}
#calendar{width:220px; height:30px; border-radius: 5px; border: solid 2px #eee;}
#time{width:80px; height:30px; border-radius: 5px; border: solid 2px #eee;}
#free{width: 300px; height: 200px; margin-top: 10px; border-radius: 5px; border: solid 2px #eee; margin-bottom: 10px;}




.kuni{
  width: 300px;
  height: 50px;
  margin-top: 30px;
  display: flex;}
.user_button{
    width: 300px;
    margin-top: 30px;
    display: flex;}
.user_button2{
    width: 300px;
    margin-top: 30px;
    display: flex;
    margin-left: 75px;}
.user_button3{
    width: 300px;
    margin-top: 30px;
    display: flex;
    margin-left: 73px;}
/*上 左右 下*/
.user_button4{
    text-align: center;
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;}
.enter{
  line-height: 20px;
  width: 200px;
  margin: 0 auto;
  background: #e60033;
  padding: 1em;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border-style:none;
  border-radius: 3px;
  outline: none;
  border: solid #e60033 1px;
  transition    : .3s;
  box-shadow    : 1px 1px 1px #666666;}
.admin_new{
     line-height: 20px;
      width: 115px;
      text-align: center;
      padding: 1em;
      color: #e60033;}
.company a{color: #e60033;}
.company2 a{color: #e60033;}
.login{
  line-height: 20px;
    width: 150px;
    margin-top: 50px;
    background: #e60033;
    padding: 1em;
    text-decoration: none;
    text-align: center;
    color: #fff;
    border-style:none;
    border-radius: 3px;
    outline: none;
    border: solid 1px #e60033;
    transition    : .3s;
    box-shadow    : 1px 1px 1px #666666;}
.login:hover{
  background-color: #fff;
  border: solid 1px #e60033;
  color: #e60033;}

.exit{
  line-height: 20px;
  width: 115px;
  text-decoration: none;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  background: #e60033;
  color: #fff;
  border-radius: 3px;}
.country-width{
  margin-top: 30px;
  width: 100%;
  height: 50px;}

.touroku{
  margin-top: 50px;
  line-height: 20px;
  width: 300px;
  background: #e60033;
  padding: 1.5em;
  text-decoration: none;
  color: #fff;
  border-style:none;
  border-radius: 3px;
  border: solid 1px #e60033;
  outline: none;
  transition    : .3s;
  box-shadow    : 1px 1px 1px #666666;}
.touroku:hover{
  background-color: #fff;
  border: solid 1px #e60033;
  color: #e60033;}

/* search */
.search{
  margin-top: 100px;
  border-radius: 20px;
  width: 70%;
  height: auto;
  margin:0 auto;
  padding-top: 100px;
  display: none;
  padding: 20px;
  box-shadow:3px 3px 3px 3px  #ccc;}
.search_text{
  width: 50%;
  border-radius:20px;
  box-shadow: none;
  padding: 2px 8px;}
.day-select{ border-radius: 20px;}
  /* 表示ボタン */
.openBtn {
  border-radius: 20px;
  margin: 0 auto;
  width: 70%;
  margin-top: 80px;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #e60033;
  color: #e60033;}
.openBtn:hover {
  opacity: 0.7;}
/*検索結果*/
.search_results_box{width:100%; height: auto;}
.search_results_box:after{content: ""; display: block; clear: both;}
.search_results_box1{
  float: left; width: 33.333%;
  padding: 0px 20px 20px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  margin-bottom: 10px;}
.search_results_box2{width:100%; height: auto;
  box-shadow    : 3px 3px 3px 3px  #ccc;}
.search_results_box2:after{content: ""; display: block; clear: both;}
.search_results_box2-1{width: 100%; height: auto; float: left;}
.search_results_box2-2{width: 100%; height: auto; float: left;}

/*検索結果タイトル、日付データ*/
.search_results_title{
  font-weight: bold;
  color:#e60033;
  margin:auto;
  padding: 10px 10px 0px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  text-align: center;;
  height: auto;
  font-size: 20px;}
.search_results_date_big{
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  text-align: right;
  color: #000;
  height: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 10px;}
/**/
.search_results_box1-1{
  float: left; width: 33.333%;
  padding: 0px 5px 5px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
margin-bottom: 10px;}

.pref_name{width: 50%; border-radius: 20px;}
.tag_li{width: 100%; height: auto;}
.tag_li:after{content: ""; display: block; clear: both;}
.tag{
  margin: 10px 0px 10px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #e60033;
  color: #fff;
  border-radius: 3px;}
  input[type="text"]:focus {
  outline: 0;
}
.kensaku{
  width: 200px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
   outline: none;
  background: red;
  color: #ffff;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;}
/**/
.schedule a{
  font-size: 20px;
  color: red;
  text-decoration: none;}
/* calendar */
.schedule{
  width:100%;
  height: auto;
  text-align: center;
  margin: 0 auto;}
table{
  border-collapse: collapse;
  width: 60%;
  margin:0 auto;
  height: auto;
  margin-top: 50px;}
.weekday{
  height: 20px;}
.month{
    font-size: 20px;
    color: red;}
td{
    width: 80px;
    height: 80px;}
/*
.plan{
    border-radius: 100%;
    background-color: red;
}
*/
.event_image{
  width: 100%;
  height: auto;}
.schedule_info{
  margin-top: 90px;
  width:80%;
  height: auto;
  text-align: center;
  margin: 0 auto;}
.schedule_info_day{}
.schedule_info_event{width:100%; height: auto;}
.schedule_info_event:after{content: ""; display: block; clear: both;}
.schedule_info_event_box{
  float: left; width: 33.333%;
  padding: 10px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;}

  /*---------------------------------------------------------------
  * Modal
  ----------------------------------------------------------------*/
  #Modal_Content {
      display: none;
      width: 400px;
      height: auto;
      padding: 10px 20px;
  	  border: 2px solid #aaa;
      border-radius: 5px;
      background-color: #fff;
      position: fixed;
      z-index: 999;
  }
  /*---------------------------------------------------------------
  * Button
  ----------------------------------------------------------------*/
  .btn_link {
      width: 100px;
      height: 30px;
  	color: #00f;
  }
  .btn_link:hover {
      cursor: pointer;
  	color: #f00;
  }
  #Modal_Enter {
      margin-left: 15%;
      float: left;
  }
  #Modal_Close {
      margin-right: 15%;
      float: right;
  }
  #Modal_Cbox {
      width: 20px;
      height: 20px;
      margin-top: 12px;
      float: left;
      clear: both;
  }
  .btn_price {
      width: 80px;
      height: 60px
  	color: #00f;
  }

  /*---------------------------------------------------------------
  * Overlay
  ----------------------------------------------------------------*/
  #Modal_Overlay {
      display: none;
  	width: 100%;
  	height: 100%;
      background-color: rgba(0,0,0,0.75);
  	position: fixed;
  	top: 0;
  	left: 0;
      z-index: 998;
  }


/*フッター（SP版では非表示になってる）*/
.box8{
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;}
.box8:after{content: ""; display: block; clear: both;}
.box8-1{font-family: 'Noto Sans JP'; font-weight: lighter;
color: #fff; background-color: #e60033; width: 100%; height: auto;
font-size: 70%;
text-align: center;
align-items: center; justify-content: center;}
.copy{line-height: 30px; margin: 0px; font-size: 5px;}

/*以下レスポンシブ対応（各自勝手に追加）*/
/*450px以下*/
@media(max-width:450px)
{
.kategori li,.week_mon a{
  font-size: 10px;}
.author_big,.author_sub,.date_big,.date_sub,{
  font-size:8px;}
.article_header h2,.related_article_title h2{
  font-size: 16px;}
.date2 .date,i{
  font-size: 10px;}
.article p{
  font-size: 12px;}
.related_article_title_small .news_title_sub{
  padding:1px 0;
  font-size: 10px;}
.comment_user{}
#Modal_Content{width:350px;}
}

/*530以下*/
@media(max-width:530px){
  .week_mon2{margin:0px auto 15px;}
  .week_mon2 a{width:70px; margin: 0px; font-size: 10px;}
}

/*660px以下*/
@media(max-width:660px)
{
.boxA:after{content:""; display:block; clear:both;}
.boxse{display: block; width: 25%;}
.box1{text-align: center; width: 50%;}
.box2{display: none;}
.box3{float: left; width: 25%; height: 40px; text-align: center;}
.box3-1{width:50%; display: block;}
.box3-2{width:50%;}
.box8{display: none;}
.fev-box{width: 90%;}
.related_article_title_small .news_title_sub{padding:10px 0; font-size: 10px;}
.schedule_info_event_box{width: 50%;}
.week_mon{margin:0px auto 15px; width: 80%;}
.week_mon a{width: 44%;}
.home_img img{width: 100%;}
.search{width: auto;}
.openBtn{margin-top: 80px;}
}

/*767px以下*/
@media(max-width:767px)
{
.fev-box{width: 90%; height: 100px;}
.fev-imagebox{height: 100px;}
.fev-kizi-imagebox{height: 100px;}
table{width:90%;}
.news_info_event_box{width: 100%;}
.matsuri_title{font-size: 20px;}
.souvenir_img_box2{width: 50%;}
.souvenir_title{font-size: 15px;}
.comment_user_img{width:15%;}
.comment_hosi{width:15%;}
.comment_user_name{width:50%;}
.comment{width: 100%;}
.comment p{ text-align:center;}
.search_results_box1{width: 100%;}
.search_results_box1-1{width: 100%;}
.flex > *{flex-basis: 100%;}
.news_box1-1 img{max-height: 330px; min-height: 143px;}
}

/*768px以上*/
@media(min-width:768px)
{
.boxA:after{content:""; display:block; clear:both;}
.fes-box{ margin: 0 auto; width: 50%;}
.article_header h2,.related_article_title h2{
  margin-top: 10px;
  font-size: 20px;}
.related_article h2{
  font-size: 14px;}
.related_article_title_small .news_title_sub{
  padding:10px 0;
  font-size: 14px;}
}

/*1110以下*/
@media(max-width:1110px)
{
.fev-imagebox{float:left; width: 40%;}
.fev-td-box{float: left; width: 60%; height: 100%;}
.news_title{font-size: 17px;}
.fev-kizi-imagebox{float:left; width: 30%;}
.fev-kizi-box{float: left; width: 70%; height: 100%;}
.fev-kizi p{font-size: 12px;}
.fev-day p{font-size: 15px;}
.fev-title p{font-size: 20px}
.related_article_title_small .news_title_sub{padding:30px 0; font-size: 22px;}
.fev_button-top{bottom: 80px;}
}

/*1190px以上*/
@media(min-width:1190px)
{
/*横幅固定*/
.boxA-inner{width: 1190px; margin-left: auto; margin-right: auto;}
.mypage-inner{width: 1190px; margin-left: auto; margin-right: auto;}
.fevpage-inner{width: 1190px; margin-left: auto; margin-right: auto;}
.box4-inner{width: 1190px; margin-left: auto; margin-right: auto;}
.main_content_inner{width: 1190px; margin-left: auto; margin-right: auto;}
.main_content_fes_inner{width: 980px; margin-left: auto; margin-right: auto;}
.search_results_box_inner{width: 1190px; margin-left: auto; margin-right: auto;}
}

/*1200px以下*/
@media (max-width:1200px) {
  .fev_button_box{right: 5%;}
}
